# For PostgreSQL (replace with your actual credentials)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/server_dev

# Generate a secret key for Phoenix
SECRET_KEY_BASE=2Ldmy3x+RRbjvkBv4Fp53/0r84G4/mp7GUzVs/CFTcfgHW8ELxkeV/R8SbQcuTV2

# Redis connection (optional)
REDIS_URL=redis://localhost:6379

# RabbitMQ connection (optional)
AMQP_URL=amqp://guest:guest@localhost:5672